{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field, render_form, render_hidden_errors, render_form_row %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% from 'bootstrap5/table.html' import render_table %}

{% block content %}

{{ render_messages() }}

<body>
  <div class="col-lg-10 mx-auto p-4 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <span class="fs-4">Market Data from Yahoo</span>
    </header>
    <main>
      <h1 class="text-body-emphasis">Stock Market Data</h1>
      <p class="fs-5 col-md-8">
        This script will create and update a SQlite database with last
        year EOD prices for a group of stocks, using Yahoo Finances data.
        Database will be located at the root of the project, you can connect it using any
        external tool.
      </p>
      <em>This is an very basic example, not suitable for production enviroments. There are many logics not implemented.</em><br>
      <em>Documentation is <a href="https://github.com/javiergarciad/AlphaVantage" target="_blank">here</a></em>
      <!-- add link to documentation in github -->



      <hr class="col-4 col-md-2 mb-5" />

      <div class="row g-5">
        <div class="col-md-6">
          <h2 class="text-body-emphasis">Database</h2>
          <p>Some information about the database.</p>

          <dl class="row">
            <dt class="col-sm-3">URL</dt>
            <dd class="col-sm-9">{{ db_info['url'] }}</dd>
            <dt class="col-sm-3">Total symbols</dt>
            <dd class="col-sm-9">{{ db_info['symbols'] }}</dd>
            <dt class="col-sm-3">Total records</dt>
            <dd class="col-sm-9">{{ db_info['records'] }}</dd>
            <dt class="col-sm-3">Last update</dt>
            <dd class="col-sm-9">{{ db_info['last_update'] }}</dd>
          </dl>


          <form method="post">
            {{ db_form.csrf_token() }}

            {{ render_field(db_form.delete, button_style='danger') }}
            {{ render_field(db_form.update, button_style='success') }}
          </form>
          </p>
        </div>

        <div class="col-md-6">
          <h2 class="text-body-emphasis">Symbols</h2>
          <p>Manage your symbols here.</p>
          <div class="col-md-6">
            <form method="post">
              {{ render_form(tickets_form, button_size="block" )}}
            </form>
          </div>
          <br>
          <table id="tickets_table" class="table table-sm table-borderless table-hover" style="width:100%">
          </table>

        </div>
      </div>

      <hr class="col-3 col-md-2 mb-5" />

      <div class="row g-5">


      </div>




    </main>

    {% include "footer.html" %}

  </div>

  {% endblock %}
</body>