<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content=">Alpha Advantage Market Data">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <title>Alpha Advantage Market Data</title>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div>
            <H1>Alpha Advantage Market Data</H1>
            <hr>
        </div>
        <div>

        <form action="" method="post" novalidate>
            {{ db_form.hidden_tag() }}
            <p>
                {{ db_form.name.label }}:
                {{ db_form.name(size=32) }}
            </p>
            <p>
                {{ db_form.driver.label }}:
                {{ db_form.driver(size=32) }}
            </p>

            <p>{{ db_form.start() }}</p>
            <p>{{ db_form.delete() }}</p>
        </form>
    </div>




        <script src="" async defer></script>
    </body>
</html>